DATABASE_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/studio-mobia
PORT=5002
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:3001
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_CALL_BACKURL=http://localhost:5002/api/pesapal/callback
PESAPAL_ENV=sandbox
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
